<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<csrf disabled="true"/>



<head>
  <title>Масло</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta th:name="_csrf_parameter" th:content="${_csrf.parameterName}"/>

  <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/orders.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <h2 class="order_header">Заказы:</h2>
  <div th:each="order : ${orders}" class="list-group">
    <div class="list-group-item  flex-column align-items-start " th:classappend="${order.complete} ? list-group-item-dark >
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1">Заказ № <span th:text="${order.id}"/> </p>
        <small class="text-muted"> <span th:text="${order.createDate}"/></small>
      </div>
      <p class="mb-1"><span th:text="${order.surname}"/> <span th:text="${order.name}"/></p>
      <p class="mb-1"> <span th:text="${order.note}"/></p>
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1"><span th:text="${order.phone}"/></p>

        <div class="form-check">
          <label class="checkbox-inline">
            <span class="label-text">Выполнен</span>
            <input name="check" th:id="${order.id}" class="isComplete" type="checkbox" th:checked="${order.complete}" />
          </label>
        </div>

      </div>
      </div>
    </div>
</div>





</body>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="js/custom/orders.js"></script>

  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</html>
