<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<csrf disabled="true"/>



<head>
  <title>Масло</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta th:name="_csrf_parameter" th:content="${_csrf.parameterName}"/>
</head>
<body>

<div class="container">
  <h1>Заказы:</h1>
  <div th:each="order : ${orders}" class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Заказ № <span th:text="${order.id}"/> </h5>
        <small class="text-muted"> <span th:text="${order.createDate}"/></small>
      </div>
      <p class="mb-1"><span th:text="${order.surname}"/> <span th:text="${order.name}"/></p>
      <p class="mb-1"> <span th:text="${order.note}"/></p>
      <small class="text-muted"><span th:text="${order.phone}"/></small>
      <input class="isComplete" th:id="${order.id}" type="checkbox" name="complete" th:checked="${order.complete}" />
    </a>
  </div>
</div>

</body>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="js/custom/order_complete_change.js"></script>

</html>
