<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<csrf disabled="true"/>



<head>
  <title>Масло</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta th:name="_csrf_parameter" th:content="${_csrf.parameterName}"/>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/order_checkbox.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <h1>Заказы:</h1>
  <div th:each="order : ${orders}" class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1">Заказ № <span th:text="${order.id}"/> </p>
        <small class="text-muted"> <span th:text="${order.createDate}"/></small>
      </div>
      <p class="mb-1"><span th:text="${order.surname}"/> <span th:text="${order.name}"/></p>
      <p class="mb-1"> <span th:text="${order.note}"/></p>
      <p class="mb-1"><span th:text="${order.phone}"/></p>
      <div class="d-flex w-100 justify-content-between">
        <label th:for="${order.id}" class="btn btn-success">
          Выполнен
          <input class="isComplete badgebox" th:id="${order.id}" type="checkbox" name="complete" th:checked="${order.complete}" />
          <span class="badge">&check;</span>
        </label>
      </div>

    <div>
  </div>
</div>

</body>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="js/custom/order_complete_change.js"></script>

  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>
