<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</head>
<body>
<form id="mail_send">
    Name <input type="text" id="inp1">
    <input type="button" value="send" id="butt1">
    <br>
    <p id="result1"></p>
    <p id="result2"></p>
</form>

</body>

<script>
        $(document).ready(function () {
           $('#butt1').click(function () {
               var par1=$('#inp1').val();
               $.ajax({
                   type:'POST',//тип запроса
                   data:{param1:par1},//параметры запроса
                   url:"<c:url value='testPost'/> ",//url адрес обработчика
                   success: funcSuccess//возвращаемый результат от сервера
               });
           });
        });
        function funcSuccess(data) {
            console.log(data);
        }
</script>
</html>